@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

.grid-container {
  display: grid;
  gap: 2%;
  margin-top: 4%;
  text-align: left;
  font-family: 'Inter', sans-serif;
  margin-left: 1%;
  margin-right: 2%;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-color: hsl(240, 100%, 5%);
  padding: 8% 8% 0 8%;
}

.item3 {
    padding: 5% 0 5% 0;
}

.item4 {
    padding: 5% 5% 5% 15%;
}

.title-new {
    color: hsl(35, 77%, 62%);
    font-weight: 800;
    font-size: 3rem;
}

.title-news {
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    margin-top: 10%;
    font-size: 1.5rem;
}

.title-news:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}

.para-news {
    color: hsl(236, 13%, 42%);
    font-size: 1.5rem;
}

.line-news {
    color: hsl(233, 8%, 79%);
    margin-top: 10%;
}

.web-heading {
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    font-size: 5rem;
}

.read-more {
    background-color: hsl(5, 85%, 63%);
    border: none;
    padding: 4% 10%;
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    margin-top: 8%;
    font-size: 1.5rem;
}

.read-more:hover {
    background-color: hsl(240, 100%, 5%);
}