@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    background-color: hsl(36, 100%, 99%);
    padding: 3% 4%;
}

.title {
    color: hsl(233, 8%, 79%);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-left: 2%;
    font-size: 1.5rem;
}

.title:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .title {
        color: hsl(240, 100%, 5%);
        margin-left: 5%;
        font-size: 1.2rem;
        font-weight: 700;
    }
    
}